In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "../data/data.csv"
data_df = pd.read_csv(csv_file)
data_df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Create new data with select columns

In [3]:
new_data_df = data_df[['Make', 'Model', 'Year', 'Popularity' ]].copy()
new_data_df.head()

  Make       Model  Year  Popularity
0  BMW  1 Series M  2011        3916
1  BMW    1 Series  2011        3916
2  BMW    1 Series  2011        3916
3  BMW    1 Series  2011        3916
4  BMW    1 Series  2011        3916

### Store JSON data into a DataFrame

In [4]:
json_file = "../data/car_ad.json"
car_ad_df = pd.read_json(json_file)
car_ad_df.head()

,body,car,drive,engType,engV,mileage,model,price,registration,year
0,crossover,Ford,full,Gas,2.5,68,Kuga,15500.0,yes,2010
1,sedan,Mercedes-Benz,rear,Gas,1.8,173,E-Class,20500.0,yes,2011
2,other,Mercedes-Benz,rear,Petrol,5.5,135,CL 550,35000.0,yes,2008
3,van,Mercedes-Benz,front,Diesel,1.8,162,B 180,17800.0,yes,2012
4,vagon,Mercedes-Benz,,Other,NA,91,E-Class,33000.0,yes,2013

### Clean DataFrame

In [5]:
new_car_ad_df = car_ad_df[["car", "model", "year", "price"]].copy()
new_car_ad_df.head()

             car    model  year    price
0           Ford     Kuga  2010  15500.0
1  Mercedes-Benz  E-Class  2011  20500.0
2  Mercedes-Benz   CL 550  2008  35000.0
3  Mercedes-Benz    B 180  2012  17800.0
4  Mercedes-Benz  E-Class  2013  33000.0

### Connect to local database

In [8]:
rds_connection_string = "postgres:postgres@localhost:5432/car_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [9]:
engine.table_names()

[]

### Use pandas to load csv converted DataFrame into database

In [10]:
new_car_ad_df.to_sql(name='car', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [11]:
new_car_ad_df.to_sql(name='model', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [12]:
pd.read_sql_query('select * from car', con=engine).head()

             car    model  year    price
0           Ford     Kuga  2010  15500.0
1  Mercedes-Benz  E-Class  2011  20500.0
2  Mercedes-Benz   CL 550  2008  35000.0
3  Mercedes-Benz    B 180  2012  17800.0
4  Mercedes-Benz  E-Class  2013  33000.0

### Confirm data has been added by querying the customer_location table

In [13]:
pd.read_sql_query('select * from model', con=engine).head()

             car    model  year    price
0           Ford     Kuga  2010  15500.0
1  Mercedes-Benz  E-Class  2011  20500.0
2  Mercedes-Benz   CL 550  2008  35000.0
3  Mercedes-Benz    B 180  2012  17800.0
4  Mercedes-Benz  E-Class  2013  33000.0